<div class="form-group">
  <label>BaseLayer TileMap URL</label>
  <input type="text" ng-model="vis.params.baseLayerUrl" class="form-control" />
</div>
<hr>
<div class="form-group">
  <label>GeoJson URL</label>
  <input type="text" ng-model="vis.params.geoJsonURL" class="form-control" />
</div>
<div class="form-group">
  <label>GeoJson ID field</label>
  <input type="text" ng-model="vis.params.geoJsonIdField" class="form-control" />
</div>
<div class="form-group">
  <label>Lijnkleur</label>
  <input type="text" ng-model="vis.params.strokeColor" class="form-control" />
</div>
<div class="form-group">
  <label>Lijndikte</label>
  <input type="text" ng-model="vis.params.strokeWidth" class="form-control" />
</div>
<div class="form-group">
  <label>Minimum waarde</label>
  <input type="text" ng-model="vis.params.colorMin" class="form-control" />
</div>
<div class="form-group">
  <label>Maximum waarde</label>
  <input type="text" ng-model="vis.params.colorMax" class="form-control" />
</div>


